body {
    margin-top: 10px;
}
.manual-container {
    padding-right: 40px;
    padding-left: 40px;
}
.st0 {
    fill: #02b3e4
}
#Layer_1 {
    height: 100px;
    width: 100px;
}
.work-img {
    width: 100%;
}
.name {
    text-align: right;
    text-transform: uppercase;
}
.mytext {
    font-family: 'Open Sans', sans-serif;
}
.mytext-color {
    color: #6b6b47;
}
.middle {
    height: 200px;
}
hr {
    border-top: 3px solid #778899;
}
h2 {
    margin-bottom: -18px;
}
p {
    text-align: center;
    font-size: x-large;
}
.gray {
    color: #b3b3b3;
    padding-left: 10px;
}
.git {
    text-align: center;
    margin-top: -10px;
}